@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header {
  text-align: center;
}
.button-container {
  text-align: center;
  background: linear-gradient(to right, #8E0E00,#1F1C18);
}
.button-class {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: cornflowerblue;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: medium;
  border: none;
  outline: none;
  margin: 10px 0;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(73, 166, 233, 0.5);
  visibility: hidden;
  z-index: -10;
  transition: all 0.1s linear;
}
.open-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  padding: 7px;
  background: white;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  top: 10%;
}
.modal-header {
  text-transform: uppercase;
}
.modal-img {
  width: 90px;
  height: 80px;
  border-radius: 40px;
  position: absolute;
  top: -11px;
  left: -11px;
}
.close-button {
  position: absolute;
  top: -11px;
  right: -11px;
  color: red;
  font-size: 20px;
  border-radius: 20px;
  background: transparent;
  border-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.1s linear;
}
hr{
  border: 3px solid grey;
  margin: 0;
}
